@font-face {
  font-family: "DM Sans";
  src: url('../fonts/DMSansRegular.woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url('../fonts/DMSansBold.woff2');
  font-weight: 700;
  font-display: swap;
}

