.email {
  padding: 100px 0;
}

.email__content {
  position: relative;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 32px;
  background-color: #000;
}

.email__left {
  max-width: 431px;
}

.email__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--blue);
}

.email__title {
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: var(--white);
}

.email__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.email__placeholder {
  padding: 20px;
  border: 1px solid #191919;
  border-radius: 6px;
  width: 522px;
  height: 82px;
  background-color: #191919;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
}

.email__button {
  margin-top: 20px;
}

.email__lines {
  position: absolute;
  bottom: -60px;
  left: -25px;
}
